/*
@media (max-width: 575px) {
  .appcontainer,
  .promo {
    width: 100%;
  }
}
*/
@media (min-width: 576px) {
    .col-sm-3,
    .col-sm-8 {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .inline {
    display: inline-block;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
.inline {
  display: inline-flex;
  }
.col-sm-3 {
  max-width: 50%;
}
 }

@media (max-width: 1200px) {
  .row {
    display: block;
  }

}
