
/* ^^^^^^^^^^^^GENERAL STUFF^^^^^^^^^^^^^^^^^ */
:root {
  --main-blue: #0080ff;
  --title-blue: #327ac1;
}

@font-face {
    font-family: 'bpgnino';
    src: url('../fonts/bpg_nino_mtavruli_normal-webfont.eot');
    src: url('../fonts/bpg_nino_mtavruli_normal-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bpg_nino_mtavruli_normal-webfont.woff') format('woff'),
    url('../fonts/bpg_nino_mtavruli_normal-webfont.ttf') format('truetype'),
    url('../fonts/bpg_nino_mtavruli_normal-webfont.svg#bpg_nino_mtavruliregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'bpgnino', arial, sans-serif;
  color: #444444;
  font-size: 16px;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


h1,
h2,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
h3 {
  font-family: 'bpgnino';
  font-size: 1.1em;
  font-weight: 300;
}
h4 {
  font-family: 'bpgnino';
  color: #444444;
  font-size: 1em;
  font-weight: 300;
}
a {
  color: #fff;
  text-decoration: none;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

/*^^^^^^^Nav*/

.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
    white-space: nowrap;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    transition: 0.5s;
    text-align:center;
}

.sidenav form div{
    margin-bottom: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.sidenav .closebtn {
    display: none;
    position: absolute;
    top: 5px;
    right: 18px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 2;
}


.menu_normal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 50px;
    background-color: #000;
    position: fixed;
    z-index: 1;
}
.menu_normal li {
  height: 75px;
}
.menu_normal li a {
    display: block;
    color: #fff;
}

.menu_normal li a.active {
    background-color: var(--main-blue);
    color: white;
}

.menu_normal li a:hover:not(.active) > i {
  color: var(--main-blue);
}
.menu_normal li a:hover ~ .nav-item-text {
  width: 350px;
}
.menu_normal .nav-item i {
  font-size: 30px;
  padding: 10px;
  color: #fff;
  transition: 0.3s;
}
.menu_normal .nav-item-text {
  position:absolute;
  display: block;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #000;
  color: #fff;
  height: 50px;
  width: 0px;
  font-size: 25px;
  font-weight: 800;
  overflow: hidden;
  white-space: nowrap;
  left: 55px;
  margin-top: -50px;
  padding-top: 8px;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

/*sub button border animation*/
.draw {
  background: none;
  border: 0;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  transition: color 0.25s;
}
.draw::before,
.draw::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: var(--main-blue);
  border-right-color: var(--main-blue);
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: var(--main-blue);
  border-left-color: var(--main-blue);
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.meet:hover {
  color: var(--main-blue);
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: var(--main-blue);
  border-right-color: var(--main-blue);
}
.meet:hover::after {
  border-bottom-color: var(--main-blue);
  border-left-color: var(--main-blue);
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
/*000000000*/
.form {
  position: relative;
  top: 150px;
  margin: auto;
}
#choose-age {
  font-size: 30px;
  height:60px;
}
input[type="radio"] {
	width: 25px;
  height: 25px;
  margin-right: 5px;
}
.radio-inline {
  margin: 15px;
}


/* ......GENERAL STYFF........*/

.col, .col-1, .col-10, .col-11, .col-12, .col-2,
.col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
 .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10,
 .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4,
 .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
  .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11,
   .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
   .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
   .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12,
   .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
   .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto,
   .container-fluid {
     padding: 0;
   }
   .col-sm-8 {
     margin-right: 5px;
   }

/*^^^^^^^temp*/
.bord {
  border: 1px solid orange;
}

.wide {
  height:700px;
}
.notwide {
  height: 53%;
  margin-bottom: 5px;
}
.display {
  display: flex;
  padding: 0;
}

/*^^^^^^^^^^^Checker^^^^^^^^^^^*/
.contact {
  height: 50px;
  padding-left: 51px;
}
.email {
  float: right;
  display: inline-flex;
}
.email div {
  margin-right: 15px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  transition: 0.5s;
  background-image: url();
  background-size: contain;
  background-repeat: no-repeat;
}
.email span {
  font-size: 30px;
  font-weight: 800;
  border-top: 2px solid #7e7e7e;
  border-bottom: 2px solid #7e7e7e;
  margin-top: 5px;
  height: 40px;
  width: 0px;
  overflow: hidden;
  transition: 0.5s;
}
.email:hover span {
  width: 250px;
}
.email:hover div {
  transform: rotate(-90deg);
}
.appcontainer {
  padding-left: 50px;
  width: 100%;
  margin: 0;
}
.case-title {
  color: #fff;
  height: 45px;
  padding-top: 12px;
  background-color: var(--title-blue);
}
.content-case {
  min-height: 150px;
  max-height: 800px;
  overflow-y: auto;
  border: 1px solid #989898;
  background-color: grey;
  border-style: inset;
}
#body {
  overflow: hidden;
  max-width: calc(7/12 * 100%);
  background-color: #1f1f1f;
}
.svg-path {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s ease;
}
.svg-btn {
  position: absolute;
  top: 30px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
#rotate {
  left: 30px;
  background-image: url(../img/icons/rotate.svg);
  background-size: contain;
}
#zoom-out {
  display: none;
  left: 30px;
  top: 550px;
  background-image: url(../img/icons/zoom-out.svg);
  background-size: contain;
}
#skin {
  right: 30px;
  background-image: url(../img/icons/skin.svg);
  background-size: contain;
}

#symptoms
.symptom-button {
  background-color: #D3D3D3;
  height: 35px;
  margin: 0px 5px 5px 5px;
  padding-top: 7px;
  padding-right: 35px;
  background-image: url(../img/icons/plus.gif);
  background-position: right top;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  cursor: pointer;
}

#chosen-symptoms
.symptom-button {
  background-color: #D3D3D3;
  height: 35px;
  margin: 0px 5px 5px 5px;
  padding-top: 7px;
  padding-right: 35px;
  background-image: url(../img/icons/minus.gif);
  background-position: right top;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  cursor: pointer;
}
