
/* ^^^^^^^^^^^^GENERAL STUFF^^^^^^^^^^^^^^^^^ */
:root {
  --main-blue: #0080ff;
  --title-blue: #327ac1;
}
@font-face {
    font-family: 'bpgnino';
    src: url('../fonts/bpg_nino_mtavruli_normal-webfont.eot');
    src: url('../fonts/bpg_nino_mtavruli_normal-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bpg_nino_mtavruli_normal-webfont.woff') format('woff'),
    url('../fonts/bpg_nino_mtavruli_normal-webfont.ttf') format('truetype'),
    url('../fonts/bpg_nino_mtavruli_normal-webfont.svg#bpg_nino_mtavruliregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: 'bpgnino', arial, sans-serif;
  color: #444444;
  font-size: 16px;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
h3 {
  font-family: 'bpgnino';
  font-size: 1.1em;
  font-weight: 300;
}
h4 {
  font-family: 'bpgnino';
  color: #444444;
  font-size: 1em;
  font-weight: 300;
}
a {
  color: #fff;
  text-decoration: none;
  padding: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

/*^^^^^^^Navigation*/

.sidenav {
    height: 750px;
    width: 100%;
    margin-top: 80px;
    position: fixed;
    z-index: 1;
    /*white-space: nowrap;*/
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    transition: 0.5s;
    text-align:center;
}
.age,
.sex {
  max-width: 40%;
  height: 500px;
  vertical-align: top;
}

.sidenav form div{
    /*margin-bottom: 50px;
    padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    display: inline-block;
    transition: 0.3s;
}
.sidenav .closebtn {
    display: none;
    position: absolute;
    top: 5px;
    right: 18px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 2;
}


.menu_normal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 80px;
    background-color: #000;
    position: fixed;
    z-index: 2;
}
.menu_normal li {
  height: 80px;
  margin-bottom: 18px;
}
.menu_normal li a {
    display: block;
    padding-top: 10px;
    color: #fff;
    width: 80px;
    height: 80px;
}

.menu_normal li a.active {
    background-color: var(--main-blue);
    color: white;
}

.menu_normal li a:hover:not(.active) > i {
  color: var(--main-blue);
}
.menu_normal li a:hover ~ .nav-item-text {
  width: 350px;
}
.menu_normal .nav-item i {
  font-size: 38px;
  height: 80px;
  padding: 15px 10px 10px 10px;
  color: #fff;
  transition: 0.3s;
}
.menu_normal .nav-item-text {
  position:absolute;
  display: block;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #000;
  color: #fff;
  height: 50px;
  width: 0px;
  font-size: 25px;
  font-weight: 800;
  overflow: hidden;
  white-space: nowrap;
  left: 85px;
  margin-top: -65px;
  padding-top: 8px;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.med_consult_logo {
  height: 80px;
  background-image: url(../img/Med_Consult_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(30deg);
}

/*sub button border animation*/
.draw {
  background: none;
  border: 0;
  margin: 1em;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
  transition: color 0.25s;
}
.draw::before,
.draw::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: var(--main-blue);
  border-right-color: var(--main-blue);
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: var(--main-blue);
  border-left-color: var(--main-blue);
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.meet:hover {
  color: var(--main-blue);
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: var(--main-blue);
  border-right-color: var(--main-blue);
}
.meet:hover::after {
  border-bottom-color: var(--main-blue);
  border-left-color: var(--main-blue);
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
/*-----------form*/
.form {
  position: relative;
  padding-bottom: 100px;
  top: 50px;
  left:50px;
  margin: auto;
}
#choose-age {
  font-size: 30px;
  height:60px;
}
.form .radio_div {
  margin: 0 0 0.75em 0;
  display: inline-block;
}

.form input[type="radio"] {
  display: none;
}

.form input[type="radio"] + label span {
  display: inline-block;
  width: 100px;
  height: 100px;
  color: white;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 3px solid #fff;
}

.form input[type="radio"] + label span p {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
}
.sex input[type="radio"] + label span {
  width: 200px;
  height: 200px;
}
.sex input[type="radio"] + label span p {
  color: #fff;
  font-size: 25px;
  margin-top: 50px;
}
.form input[type="radio"] + label span i {
  color: #fff;
  font-size: 80px;
  margin-top: 20px;
}

.form input[type="radio"]:checked + label span {
  border: 3px solid var(--main-blue);
  border-radius: 10px;
}

.form input[type="radio"]:checked + label span p,
.form input[type="radio"]:checked + label span i {
  color: var(--main-blue);
}

.form input[type="radio"] + label span,
.form input[type="radio"]:checked + label span {
  -webkit-transition: border 0.4s linear;
  -o-transition: border 0.4s linear;
  -moz-transition: border 0.4s linear;
  transition: border 0.4s linear, border-radius 0.4s linear;
}

.form input[type="radio"] + label span p,
.form input[type="radio"]:checked + label span p,
.form input[type="radio"]:checked + label span i  {
  -webkit-transition: color 0.4s linear;
  -o-transition: color 0.4s linear;
  -moz-transition: color 0.4s linear;
  transition: color 0.4s linear;
}


/* ......GENERAL STYFF........*/

.col, .col-1, .col-10, .col-11, .col-12, .col-2,
.col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10,
.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8,
 .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10,
 .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4,
 .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
  .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11,
   .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
   .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
   .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12,
   .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
   .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto,
   .container-fluid {
     padding: 0;
   }
   .col-sm-8 {
     margin-right: 5px;
   }

/*^^^^^^^^^^^Checker^^^^^^^^^^^*/
.contact {
  height: 80px;
  padding-left: 51px;
}
.email {
  float: right;
  display: inline-flex;
}
.email div {
  margin-right: 15px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  transition: 0.5s;
  background-image: url();
  background-size: contain;
  background-repeat: no-repeat;
}
.email span {
  font-size: 30px;
  font-weight: 800;
  border-top: 2px solid #7e7e7e;
  border-bottom: 2px solid #7e7e7e;
  margin-top: 5px;
  height: 40px;
  width: 0px;
  overflow: hidden;
  transition: 0.5s;
}
.email:hover span {
  width: 250px;
}
.email:hover div {
  transform: rotate(-90deg);
}
.appcontainer {
  padding-left: 79px;
  width: 100%;
  height: 800px;
  margin: 0;
}
.case-title {
  color: #fff;
  height: 45px;
  padding-top: 12px;
  background-color: var(--title-blue);
}
.content-case {
  min-height: 150px;
  max-height: 800px;
  overflow-y: auto;
  border: 1px solid #989898;
  background-color: grey;
  border-style: inset;
}
.mini_panel {
  height: 401px;
  width: 100%;
}
.mini_panel .content-case {
  height: 355px;
}
.display {
  display: flex;
  padding: 0;
  height: 755px;
}
#body {
  overflow: hidden;
  max-width: calc(7/12 * 100%);
  background-color: #1f1f1f;
}
.svg-path {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s ease;
}
.svg-btn {
  position: absolute;
  top: 30px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.svg-btn i {
  font-size: 60px;
  color: #fff;
  transition: 0.3s;
}
#rotate {
  left: 30px;
  /*background-image: url(../img/icons.svg);*/
  /*background-size: contain;*/
  /*background-position: 160px 0;*/
}
#zoom-out {
  display: none;
  left: 30px;
  top: 550px;
}
#skin {
  right: 30px;
  /*background-image: url(../img/icons.svg);
  background-position: 80px 0;*/
}

#symptoms
.symptom-button {
  background-color: #D3D3D3;
  height: 35px;
  margin: 0px 5px 5px 5px;
  padding-top: 7px;
  padding-right: 35px;
  background-image: url(../img/icons/plus.gif);
  background-position: right top;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  cursor: pointer;
}

#chosen-symptoms
.symptom-button {
  background-color: #D3D3D3;
  height: 35px;
  margin: 0px 5px 5px 5px;
  padding-top: 7px;
  padding-right: 35px;
  background-image: url(../img/icons/minus.gif);
  background-position: right top;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  cursor: pointer;
}

/*calculators*/


.calculator_container {
  position: relative;
    width: 100%;
    height: 99vh;
    padding-left: 68px;
    overflow: scroll;
}
.calculator_container .calc_title_container {
    display: inline-block;
    width: 415px;
    height: 100%;
    overflow: hidden;
    -webkit-animation-name: comein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: comein;
    animation-duration: 2s;
}

.calculator_container .calc_title_container .calc_title_label_container {
   margin-top: 30%;
}
.calculator_container .calc_title_container label {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    display: block;
    width: 380px;
    height: 30px;
    margin: 20px auto 20px auto;
    cursor: pointer;
}
.calculator_container .calc_title_container input[type=radio] {
    display: none;
}
.calculator_container .calc_container {
    display: inline-block;
    width: 430px;
    height: 90%;
    vertical-align: top;
    margin-top: 5%;
    margin-left: 40px;
}
.calculator_container .calc_container_data,
.calculator_container .calc_container_results,
.calculator_container .calc_container_interpret {
    /*position: absolute;*/
    display: inline-block;
    /*margin-left: 40px;*/
    /*width: 421px;*/
    height: 32.7%;
    min-height: 200px;
    overflow: hidden;
    /* border: 2px solid rgba(35, 173, 255, 1); */
    /* border-left: 0; */
    box-shadow: 0px 0 6px 0px rgba(35, 173, 255, 1);
    /* border-radius: 5px; */
    background-color: lightgray;
}
.calculator_container .calc_container_data {
  /*position: relative;*/
  animation-name: fadeIn;
  animation-duration: 3s;
}
.calculator_container .calc_container_results,
.calculator_container .calc_container_interpret {
    /*top: 31%;*/
    animation-name: rollDown;
    animation-duration: 3s;
}
.calculator_container .calc_container_interpret {
    /*top: 62%;*/
}
.calculator_container .roller{
    text-align: center;
    border-right:0;
    width:400px;
    height:58px;
    margin:auto;
    margin-top: -488px;
    position:relative;
    box-shadow: inset 5px 0 6px 1px rgba(35, 173, 255, 1);
    -moz-border-radius:5px 0 0 5px;
    -webkit-border-radius:5px 0 0 5px;
    transition: all 1s;
}
.calculator_container *,
.calculator_container ::before,
.calculator_container ::after {
  box-sizing: initial;
}
.calculator_container .roller:after,
.calculator_container .roller:before{
    content:'';
    width:402px;
    height:900px;
    background-color: rgba(0,0,0,0.1);
    z-index: -2;
    box-shadow:  5px 3px 6px -3px rgba(35, 173, 255, 1);
    position:absolute;
    right: -3px;
    border-left:0;
}
.calculator_container .roller:after{
    border-bottom:0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow: 5px -3px 6px -3px rgba(35, 173, 255, 1);
    top:58px;
}
.calculator_container .roller:before{
    border-top:0;
    -moz-border-radius:0 0 5px 0;
    -webkit-border-radius:0 0 5px 0;
    top:-900px;
}

/*imported*/

.calc_container {
	text-align:center;
}
.calc_container table {
	margin-right:auto;
	margin-left:auto;
	clear:both;
	width:445px;
	border-collapse:collapse;
	empty-cells:show;
	background-color:rgb(233,232,244);
}
.calc_container th.top {
	padding:0 0px 0 0px;
	empty-cells:show;
	background-color:rgb(175,175,175);
	color:rgb(255,255,255);
	font-weight:bold;
	font-size:120% !important;
}
.calc_container th {
	height:3em;
	border:solid 2px rgb(245,245,245);
	background-color:rgb(225,225,225);
	text-align:inherit;
	color:rgb(80,80,80);
	font-weight:bold;
	font-size:100% !important;
	font-size:90%;
}
.calc_container td {
	height:2em;
	border:solid 2px rgb(245,245,245);
	background-color:#FFF;
}


/*Animation */

/* Safari 4.0 - 8.0 */
@-webkit-keyframes comein {
    from {margin-left: -415px;}
    to {margin-left: 0;}
}

/* Standard syntax */
@keyframes comein {
    from {margin-left: -415px;}
    to {margin-left: 0;}
}

/*@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}*/
@keyframes rollDown {
  from {margin-top: -300px;}
  to {margin-top: 0;}
}
